<!--Created by Erik & Austin 2016-->

<!DOCTYPE html>
<html>

  <head>
    <link data-require="font-awesome@4.5.0" data-semver="4.5.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" />
    <script data-require="jquery@2.2.0" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../public/style.css" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Montserrat|Roboto+Condensed|Oswald|Roboto" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id="container">
      <h1>To Do List</h1>
      <input type="text" placeholder="Enter New To Do" />
      <ul>
        <li data-id="0">Go to Class           <span>
            <i class="fa fa-times fa-2x"></i>
          </span>
        </li>
        <li data-id="1">Buy Clothes           <span>
            <i class="fa fa-times fa-2x"></i>
          </span>
        </li>
        <li data-id="2">Visit Mom           <span>
            <i class="fa fa-times fa-2x"></i>
          </span>
        </li>
      </ul>
    </div>
    <script src="../public/script.js"></script>
  </body>

</html>


<!--var pagedata;-->
<!--for(var i=0; i < todoarray.length; i++) {-->
<!--pagedata = pagedata + "\n <li>" + todoarray[i].description + "<span></span></li> ";-->

