body, h1 {
    margin: 0;
    padding: 0;
}
#back {
    background-image: url(images/background1.jpg)
}

h1 {
    font-size: 54px;
    color: white;
    width: 900px;
    text-align: center;
    margin: 25% 25%
}