
#container {
    width:300px;
    margin:100px auto;
    border-width:2px;
    border-style:solid;
    border-color:#000;
}

.completed{
    color:gray;
    text-decoration: line-through;
}

h1{
    background: #e70404;
    color:white;
    margin:0;
    padding:10px 20px 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Luckiest Guy', cursive;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Permanent Marker', cursive;
}
li {
    line-height:40px;
    background: #ffb70f;
    padding-left: 10px;
    color: #fc8a32;
}

li:nth-child(2n) {
    background: #875701;
}

input{
    background-color: #875701;
    width: 100%;
    padding:13px 13px 13px 20px;
    color: #d89104;
    font-size: 18px;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}

input:focus {
    background-color: white;
    border: 3px solid green;
}

span {
    background: red;
    color: white;
    height: 40px;
    margin: 0 0 0 20px;
    opacity: 0;
    padding: 3px 15px 3px 15px;
    float: right;
    box-sizing: border-box;
    transition: 0.3s linear;
}

li:hover span {
    opacity:1;
}


